body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
}

h1 h2 h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  text-decoration: none;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**!=========================================================*/

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------HEADER----------------------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  max-width: 1440px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
}

.header-nav {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.item-menu {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.item-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-item:hover,
.header-item:focus {
  color: #404bbf;
}

.header-link {
  display: flex;
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

/*++++++++++++ADDRESS++++++++++++++*/

.address-info-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info-link:hover,
.address-info-link:focus {
  color: #404bbf;
}

.address-link {
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.header-adress {
  font-style: normal;
}
/**!=========================================================*/

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------MAIN----------------------------*/
/**?____section-main-dark____**/
.section-main-dark {
  max-width: 1440px;
  background-color: #2e2f42;
  flex-shrink: 0;
  padding: 188px 0;
  justify-content: center;
  background-image: url(../images/people-office1.png);
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
  font-family: "Roboto", sans-serif;
 
}

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------section-main-item----------------------------*/

/**?____section-main-item____**/
.section-main-item {
  padding-bottom: 120px;
  padding-top: 120px;
}

.main-item-link {
  gap: 24px;
  display: flex;
}

.main-list-item {
  width: calc((100% - 72px) / 4);
}

.main-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.visually-hidden {
  margin-bottom: 8px;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.main-item-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  fill: none;
}

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------TEAM----------------------------*/
/**?____section-team____**/

.section-team {
  background: #f4f4fd;
  padding: 120px 0;
  flex-shrink: 0;
}

.section-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team-link {
  gap: 24px;
  display: flex;
}

.team-link-item {
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.container-text {
  padding: 32px 0;
  gap: 8px;
}

.section-title-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-title-content {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
}

.social-link-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: #404bbf;
}

.social {
  fill: #f4f4fd;
}

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------portfolio 4----------------------------*/
/**?____section-portfolio____**/

.section-portfolio {
  background: #fff;
  padding: 120px 0 120px 0;
}

.portfolio-name {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item-text {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-text:hover .img-our-text {
  transform: translateY(0%);
}

.img-our {
  position: relative;
  overflow: hidden;
}

.img-our-text {
  position: absolute;
  top: 0%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-our {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**!=========================================================*/

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------FOOTER----------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  flex-shrink: 0;
  max-width: 1440px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-two {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  padding-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
}

.footer-link-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item:hover,
.footer-link-item:focus {
  background-color: #31d0aa;
}

.social-footer {
  fill: #f4f4fd;
}


.footer-subscribe {
 
  margin-left: auto;
}

.subscribe-text {
  color:  #FFF;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.mail-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
border: 1px solid  #FFF;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
color: #ffffff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.E-mail {
  color: #ffffff;
}

.footer-button {
  color:  #FFF;
  text-align: center; 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
gap: 16px;
border-radius: 4px;
background-color:  #4D5AE5;
cursor: pointer;
border: none;
fill: #FFF;

}
.icon-frame {
  margin-left: 16px;
 
}

/**!=========================================================*/

/**!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/**------------------------beckdrop----------------------------*/


.beckdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }

  

.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus .modal-icon {
  fill: #ffffff;
}

.modal-title {
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-name {
  margin-bottom: 8px;
}

.form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;

}

.input-text {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-text:focus {
  border: 1px solid #4d5ae5;
}

.form-input {
  margin-bottom: 8px;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:focus + svg {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.textarea-text {
  line-height: 1.17;
  font-size: 12px;
  width: 100%;
  height: 120px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-text:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-text {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
 
}

.checkbox-span {
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  
}
.lable-policy {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.button-send {
display: block;
margin:auto;
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  